/* ai-content-writer/packages/frontend/src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  @apply bg-slate-50 dark:bg-gray-900 antialiased;
}
